<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Статья1</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-article">
                <div class="container">
                    <div class="block-article__content">
                        <h1 class="title2">
                            Профессиональные достижения сотрудников "Ангажемента"
                        </h1>
                        <div class="block-article__text">
                            <p>
                                Коллектив театра «Ангажемент» поздравляет двух своих сотрудниц с значительными
                                профессиональными достижениями на всероссийском уровне. Их успех — это не только личная
                                победа, но и признание высоких стандартов нашего театра.
                            </p>
                            <p>
                                Подведены итоги IV Всероссийского конкурса декламации стихов и прозы уральских авторов
                                «Сказано на Урале — 2025». Артистка нашего театра Юлия Банных заняла 1 место в категории
                                «Профессионалы». Этот впечатляющий результат красноречиво говорит о её высочайшем
                                актёрском
                                мастерстве, глубоком понимании литературного текста и умении донести его до слушателя.
                            </p>
                            <p>
                                Заведующая постановочной частью нашего театра, Елена Александровна Яковчик, примет
                                участие в
                                уникальной образовательной программе «Завпосты театра будущего». Этот интенсивный курс
                                создан для ключевых специалистов, которые стоят за успехом любого спектакля:
                                заместителей
                                директоров, заведующих постановочной частью, руководителей технических служб и
                                координаторов. Участие в такой программе — это возможность перенять лучший опыт и
                                внедрить в
                                нашу работу самые современные и передовые технологии сценического производства.
                            </p>
                            <p>
                                Мы гордимся нашими коллегами и желаем им не останавливаться на достигнутом! Их победы
                                вдохновляют весь коллектив и вносят неоценимый вклад в развитие нашего театра.
                            </p>
                        </div>
                        <div class="block-article__text">
                            <a href="./">Ссылка</a>
                        </div>
                        <div class="block-article__swiper">
                            <div class="block-article__slider swiper">
                                <div class="block-article__wrapper swiper-wrapper">
                                    <div class="block-article__slide swiper-slide">
                                        <img loading="lazy" src="img/image4.webp" alt="">
                                    </div>
                                    <div class="block-article__slide swiper-slide">
                                        <img loading="lazy" src="img/image4.webp" alt="">
                                    </div>
                                    <div class="block-article__slide swiper-slide">
                                        <img loading="lazy" src="img/image4.webp" alt="">
                                    </div>
                                    <div class="block-article__slide swiper-slide">
                                        <img loading="lazy" src="img/image4.webp" alt="">
                                    </div>
                                </div>
                            </div>
                            <div class="block-article__pagination pagination"></div>
                            <div class="arrows">
                                <div class="block-article__arrow-prev arrow-prev">
                                    <img loading="lazy" src="img/icons/arrow1.svg" alt="">
                                </div>
                                <div class="block-article__arrow-next arrow-next">
                                    <img loading="lazy" src="img/icons/arrow1.svg" alt="">
                                </div>
                            </div>
                        </div>
                        <div class="block-article__text">
                            <p>
                                Коллектив театра «Ангажемент» поздравляет двух своих сотрудниц с значительными
                                профессиональными достижениями на всероссийском уровне. Их успех — это не только личная
                                победа, но и признание высоких стандартов нашего театра.
                            </p>
                            <p>
                                Подведены итоги IV Всероссийского конкурса декламации стихов и прозы уральских авторов
                                «Сказано на Урале — 2025». Артистка нашего театра Юлия Банных заняла 1 место в категории
                                «Профессионалы». Этот впечатляющий результат красноречиво говорит о её высочайшем
                                актёрском
                                мастерстве, глубоком понимании литературного текста и умении донести его до слушателя.
                            </p>
                        </div>
                        <div class="block-article__column">
                            <h2 class="title1">
                                Заголовок H2
                            </h2>
                            <a href="img/files/video.mp4" data-fancybox="video1" class="block-article__video">
                                <img loading="lazy" src="img/image11.webp" alt="" class="block-article__pic1">
                                <div class="play">
                                    <img loading="lazy" src="img/icons/play.svg" alt="">
                                </div>
                            </a>
                            <div class="block-article__text">
                                <p>
                                    Подпись
                                </p>
                            </div>
                        </div>
                        <div class="block-article__bottom">
                            <div class="block-article__data">
                                24 марта 2026
                            </div>
                            <div class="socials">
                                <a href="./">
                                    <svg aria-hidden="true" width="16" height="10">
                                        <use xlink:href="img/sprite.svg#vk"></use>
                                    </svg>
                                </a>
                                <a href="./">
                                    <svg aria-hidden="true" width="11" height="16">
                                        <use xlink:href="img/sprite.svg#ok"></use>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-news-other">
                <div class="container">
                    <div class="block-news-other__content">
                        <h2 class="title2">Другие новости</h2>
                        <div class="cards-news">
                            <a href="./" class="cards-news__card">
                                <div class="cards-news__title">Видео «Одна ловушка»</div>
                                <div class="cards-news__data">25 марта 2026</div>
                            </a>
                            <a href="./" class="cards-news__card">
                                <div class="cards-news__title">Видео «Одна Дорога»</div>
                                <div class="cards-news__data">25 марта 2026</div>
                            </a>
                            <a href="./" class="cards-news__card">
                                <div class="cards-news__title">Одна ловушка</div>
                                <div class="cards-news__data">25 марта 2026</div>
                            </a>
                            <a href="./" class="cards-news__card">
                                <div class="cards-news__title">Одна Дорога </div>
                                <div class="cards-news__data">25 марта 2026</div>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>