<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Спектакль</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-card">
                <div class="block-card__top">
                    <div class="block-card__slider swiper">
                        <div class="block-card__wrapper swiper-wrapper">
                            <div class="block-card__slide swiper-slide">
                                <img src="img/image10.webp" alt="">
                            </div>
                            <div class="block-card__slide swiper-slide">
                                <img src="img/image11.webp" alt="">
                            </div>
                            <div class="block-card__slide swiper-slide">
                                <img src="img/image10.webp" alt="">
                            </div>
                            <div class="block-card__slide swiper-slide">
                                <img src="img/image11.webp" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="block-card__pagination pagination"></div>
                </div>
                <div class="container">
                    <div class="block-card__content">
                        <div class="block-card__body">
                            <div class="block-card__titles">
                                <h1 class="title1">Не все коту масленица</h1>
                                <p>
                                    Мистическая фантазия по мотивам Н.В. Гоголя.
                                </p>
                                <ul>
                                    <li>Основная сцена</li>
                                    <li>3Ч 30М</li>
                                    <li>12+</li>
                                </ul>
                            </div>
                            <div class="block-card__text">
                                <p>
                                    Одна из самых остроумных комедий А.Н. Островского, населенная яркими
                                    острохарактерными
                                    персонажами, предстанет перед зрителями в классическом прочтении и исторических
                                    костюмах.
                                </p>
                                <p>
                                    За небогатой девушкой Агнией ухаживает купец Ахов и его приказчик Ипполит. Богатый и
                                    спесивый Ахов одаривает Агнию и требует от неё повиновения. Ипполит же – робок, но
                                    любит
                                    девушку всем сердцем. Перед героями пьесы встает выбор между деньгами и чувствами –
                                    эта
                                    тема актуальна во все времена. Что выберут герои, пройдя через череду смешных
                                    ситуаций?
                                </p>
                                <p>
                                    Спектакль создан при поддержке муниципального гранта города Тюмени.
                                </p>
                            </div>
                        </div>
                        <div data-da=".block-card__body, 992, 1" class="block-calendar">
                            <div class="block-calendar__dates">
                                <div class="block-calendar__item">
                                    <div class="block-calendar__date">
                                        <span>15</span>
                                        марта<br>
                                        Вc 19:00
                                    </div>
                                    <a href="./" class="btn">Купить билет</a>
                                </div>
                                <div class="block-calendar__item">
                                    <div class="block-calendar__date">
                                        <span>25</span>
                                        марта<br>
                                        Вc 19:00
                                    </div>
                                    <a href="./" class="btn">Купить билет</a>
                                </div>
                                <div class="block-calendar__item">
                                    <div class="block-calendar__date">
                                        <span>26</span>
                                        апреля<br>
                                        Пн 20:00
                                    </div>
                                    <a href="./" class="btn">Купить билет</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-roles2">
                <div class="container">
                    <div class="heading-complex heading-complex2">
                        <h2 class="title1">Роли</h2>
                        <div class="heading-complex__images"></div>
                    </div>
                    <div class="cards2">
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image1.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Денис Юдин
                                </div>
                                <p>
                                    Ермил Зотыч Ахов
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image2.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Сергей Грязнов
                                </div>
                                <p>
                                    Дарья Федосеевна Круглова
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image3.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Алексей Шлямин
                                </div>
                                <p>
                                    Агния
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image4.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Юрий Фёдоров
                                </div>
                                <p>
                                    Ипполит
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image5.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Екатерина
                                    Захарова
                                </div>
                                <p>
                                    Маланья
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image6.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Ксенья
                                    Кудрявцева
                                </div>
                                <p>
                                    Маланья
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image7.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Людмила Петрушева
                                </div>
                                <p>
                                    Феона
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image1.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Денис Юдин
                                </div>
                                <p>
                                    Ермил Зотыч Ахов
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image2.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Сергей Грязнов
                                </div>
                                <p>
                                    Дарья Федосеевна Круглова
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image3.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Алексей Шлямин
                                </div>
                                <p>
                                    Агния
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image4.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Юрий Фёдоров
                                </div>
                                <p>
                                    Ипполит
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image5.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Екатерина
                                    Захарова
                                </div>
                                <p>
                                    Маланья
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image6.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Ксенья
                                    Кудрявцева
                                </div>
                                <p>
                                    Маланья
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image7.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Людмила Петрушева
                                </div>
                                <p>
                                    Феона
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image5.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Екатерина
                                    Захарова
                                </div>
                                <p>
                                    Маланья
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image3.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Алексей Шлямин
                                </div>
                                <p>
                                    Агния
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="block-production2">
                <div class="container">
                    <div class="heading-complex heading-complex2">
                        <h2 class="title1">Постановочные работы</h2>
                        <div class="heading-complex__images"></div>
                    </div>
                    <div class="cards2">
                        <a href="./" class="cards2__card">
                            <img loading="lazy" src="img/people/image5.webp" alt="" class="cards2__pic1">
                            <div class="cards2__titles">
                                <div class="cards2__title">
                                    Екатерина
                                    Захарова
                                </div>
                                <p>
                                    Маланья
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="block-other">
                <div class="container">
                    <div class="heading-complex heading-complex2">
                        <h2 class="title1">Другие спектакли</h2>
                        <div class="arrows">
                            <div class="block-other__arrow-prev arrow-prev">
                                <img loading="lazy" src="img/icons/arrow1.svg" alt="">
                            </div>
                            <div class="block-other__arrow-next arrow-next">
                                <img loading="lazy" src="img/icons/arrow1.svg" alt="">
                            </div>
                        </div>
                    </div>
                    <div class="block-other__content">
                        <div class="block-other__slider swiper">
                            <div class="block-other__wrapper swiper-wrapper">
                                <a href="./" class="block-other__slide swiper-slide">
                                    <img loading="lazy" src="img/catalog/image1.webp" alt="" class="block-other__pic">
                                    <div class="block-other__titles">
                                        <div class="block-other__title">
                                            Смерть Тарелкина
                                        </div>
                                        <p>
                                            Цирк. По одноимённой пьесе А. Сухово-Кобылина., 12+
                                        </p>
                                    </div>
                                </a>
                                <a href="./" class="block-other__slide swiper-slide">
                                    <img loading="lazy" src="img/catalog/image8.webp" alt="" class="block-other__pic">
                                    <div class="block-other__titles">
                                        <div class="block-other__title">
                                            У нас всё хорошо!
                                        </div>
                                        <p>
                                            Драма по рассказу В. Астафьева «Людочка». Драматург - А. Югов.<br>
                                            Продолжительность - 1 ч. 30 мин. без антракта., 18+
                                        </p>
                                    </div>
                                </a>
                                <a href="./" class="block-other__slide swiper-slide">
                                    <img loading="lazy" src="img/catalog/image6.webp" alt="" class="block-other__pic">
                                    <div class="block-other__titles">
                                        <div class="block-other__title">
                                            День рождения
                                        </div>
                                        <p>
                                            Домашний вечер в честь дня рождения Леонида Окунева.<br> Продолжительность -
                                            1ч.
                                            20 мин., 16+
                                        </p>
                                    </div>
                                </a>
                                <a href="./" class="block-other__slide swiper-slide">
                                    <img loading="lazy" src="img/catalog/image3.webp" alt="" class="block-other__pic">
                                    <div class="block-other__titles">
                                        <div class="block-other__title">
                                            Два Мороза
                                        </div>
                                        <p>
                                            Сказка. По мотивам русской народной сказки "Два Мороза".<br>
                                            Продолжительность -
                                            45 мин.
                                        </p>
                                    </div>
                                </a>
                                <a href="./" class="block-other__slide swiper-slide">
                                    <img loading="lazy" src="img/catalog/image2.webp" alt="" class="block-other__pic">
                                    <div class="block-other__titles">
                                        <div class="block-other__title">
                                            Синяя птица
                                        </div>
                                        <p>
                                            Философская сказка. М. Метерлинк.<br> Продолжительность - 1 ч. 30 мин., 6+
                                        </p>
                                    </div>
                                </a>
                                <a href="./" class="block-other__slide swiper-slide">
                                    <img loading="lazy" src="img/catalog/image3.webp" alt="" class="block-other__pic">
                                    <div class="block-other__titles">
                                        <div class="block-other__title">
                                            Два Мороза
                                        </div>
                                        <p>
                                            Сказка. По мотивам русской народной сказки "Два Мороза".<br>
                                            Продолжительность -
                                            45 мин.
                                        </p>
                                    </div>
                                </a>
                                <a href="./" class="block-other__slide swiper-slide">
                                    <img loading="lazy" src="img/catalog/image2.webp" alt="" class="block-other__pic">
                                    <div class="block-other__titles">
                                        <div class="block-other__title">
                                            Синяя птица
                                        </div>
                                        <p>
                                            Философская сказка. М. Метерлинк.<br> Продолжительность - 1 ч. 30 мин., 6+
                                        </p>
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>