<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Репертуар</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-catalog">
                <div class="container">
                    <div class="heading-complex">
                        <h1 class="title1">Репертуар</h1>
                        <div class="heading-complex__images">
                            <img src="img/icons/bg2.svg" alt="">
                            <img src="img/icons/bg2.svg" alt="">
                            <img src="img/icons/bg2.svg" alt="">
                        </div>
                    </div>
                    <div class="block-catalog__body">
                        <a href="./" class="block-catalog__column">
                            <div class="block-catalog__image">
                                <img loading="lazy" src="img/catalog/image1.webp" alt="">
                            </div>
                            <div class="block-catalog__item">
                                <div class="block-catalog__title">
                                    Смерть Тарелкина
                                </div>
                                <p>
                                    Цирк. По одноимённой пьесе А. Сухово-Кобылина., 12+
                                </p>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column">
                            <div class="block-catalog__image">
                                <img loading="lazy" src="img/catalog/image2.webp" alt="">
                            </div>
                            <div class="block-catalog__item">
                                <div class="block-catalog__title">
                                    Синяя Птица
                                </div>
                                <p>
                                    Цирк. По одноимённой пьесе А. Сухово-Кобылина., 12+
                                </p>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column">
                            <div class="block-catalog__image">
                                <img loading="lazy" src="img/catalog/image3.webp" alt="">
                            </div>
                            <div class="block-catalog__item">
                                <div class="block-catalog__title">
                                    Два Мороза
                                </div>
                                <p>
                                    Цирк. По одноимённой пьесе А. Сухово-Кобылина., 12+
                                </p>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column">
                            <div class="block-catalog__image">
                                <img loading="lazy" src="img/catalog/image4.webp" alt="">
                            </div>
                            <div class="block-catalog__item">
                                <div class="block-catalog__title">
                                    ЗОСЯ
                                </div>
                                <p>
                                    Цирк. По одноимённой пьесе А. Сухово-Кобылина., 12+
                                </p>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column">
                            <div class="block-catalog__image">
                                <img loading="lazy" src="img/catalog/image5.webp" alt="">
                            </div>
                            <div class="block-catalog__item">
                                <div class="block-catalog__title">
                                    ДА.МЫ
                                </div>
                                <p>
                                    Цирк. По одноимённой пьесе А. Сухово-Кобылина., 12+
                                </p>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column">
                            <div class="block-catalog__image">
                                <img loading="lazy" src="img/catalog/image6.webp" alt="">
                            </div>
                            <div class="block-catalog__item">
                                <div class="block-catalog__title">
                                    День Рождения
                                </div>
                                <p>
                                    Цирк. По одноимённой пьесе А. Сухово-Кобылина., 12+
                                </p>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column">
                            <div class="block-catalog__image">
                                <img loading="lazy" src="img/catalog/image7.webp" alt="">
                            </div>
                            <div class="block-catalog__item">
                                <div class="block-catalog__title">
                                    Гостиница «Тайга»
                                </div>
                                <p>
                                    Цирк. По одноимённой пьесе А. Сухово-Кобылина., 12+
                                </p>
                            </div>
                        </a>
                        <a href="./" class="block-catalog__column">
                            <div class="block-catalog__image">
                                <img loading="lazy" src="img/catalog/image8.webp" alt="">
                            </div>
                            <div class="block-catalog__item">
                                <div class="block-catalog__title">
                                    У нас все хорошо!
                                </div>
                                <p>
                                    Цирк. По одноимённой пьесе А. Сухово-Кобылина., 12+
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>