<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Контакты1</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-contacts">
                <div class="container">
                    <div class="heading-complex">
                        <h1 class="title1">Контакты</h1>
                        <div class="heading-complex__images">
                            <img src="img/icons/bg2.svg" alt="">
                            <img src="img/icons/bg2.svg" alt="">
                            <img src="img/icons/bg2.svg" alt="">
                        </div>
                    </div>
                    <div class="block-contacts__content">
                        <div class="block-contacts">

                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>