<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Контакты1</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-contacts">
                <div class="container">
                    <div class="heading-complex">
                        <h1 class="title1">Контакты</h1>
                        <div class="heading-complex__images">
                            <img src="img/icons/bg2.svg" alt="">
                            <img src="img/icons/bg2.svg" alt="">
                            <img src="img/icons/bg2.svg" alt="">
                        </div>
                    </div>
                    <div class="block-contacts__content">
                        <div class="block-contacts__body">
                            <div class="block-contacts__top">
                                <div class="block-contacts__left">
                                    <div class="block-contacts__title">
                                        Тюмень,<br> Олимпийская, 8а.
                                    </div>
                                    <p>
                                        Автобусы: 17, 25, 30, 46
                                    </p>
                                    <p>
                                        Остановка «МЖК» или «АНГАЖЕМЕНТ»
                                    </p>
                                </div>
                                <div class="block-contacts__right">
                                    <div class="socials">
                                        <a href="./">
                                            <svg aria-hidden="true" width="16" height="10">
                                                <use xlink:href="img/sprite.svg#vk"></use>
                                            </svg>
                                        </a>
                                        <a href="./">
                                            <svg aria-hidden="true" width="11" height="16">
                                                <use xlink:href="img/sprite.svg#ok"></use>
                                            </svg>
                                        </a>
                                    </div>
                                    <a href="mailto:angagement@obl72.ru"
                                        class="block-contacts__mail">angagement@obl72.ru</a>
                                    <div class="block-contacts__contacts">
                                        <div class="block-contacts__phone">Касса: <a href="tel:330305">33-03-05</a>
                                        </div>
                                        <div class="block-contacts__work">
                                            с 9:00 до 19:00 (13:00-14:00 перерыв)
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-contacts__bottom">
                                <div id="map1" class="block-contacts__map"></div>
                                <form action="#" class="form">
                                    <div class="form__title">
                                        Связаться с нами
                                    </div>
                                    <div class="form__inputs">
                                        <div class="form__input">
                                            <div class="input">
                                                <div class="form__placeholder">Как вас зовут?</div>
                                                <input data-required autocomplete="off" type="text" name="form[]"
                                                    data-error="Обязательное поле" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form__input">
                                            <div class="input">
                                                <div class="form__placeholder">Эл. почта</div>
                                                <input data-required="email" autocomplete="off" type="text"
                                                    name="form[]" data-error="Такой почты не существует" placeholder="">
                                            </div>
                                        </div>
                                        <div class="form__input">
                                            <div class="input textarea">
                                                <div class="form__placeholder">Сообщение</div>
                                                <textarea></textarea>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-file">
                                        <input type="file" accept="image/*">
                                        <div class="form-file__icons">
                                            <div class="form-file__close">
                                                <img src="img/icons/close.svg" alt="">
                                            </div>
                                            <img data-image="img/icons/file.svg" src="img/icons/paperclip.svg" alt=""
                                                class="form-file__icon">
                                        </div>
                                        <div class="form-file__titles">
                                            <div class="form-file__name">Прикрепить файл</div>
                                            <div class="form-file__subname">
                                                Макс. 5Мб
                                            </div>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn">Отправить</button>
                                </form>
                            </div>
                        </div>
                        <div class="block-contacts-personal">
                            <div class="block-contacts-personal__column">
                                <div class="block-contacts-personal__title">
                                    Административно–управленческий персонал
                                </div>
                                <div class="block-contacts-personal__cards">
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Директор, художественный руководитель театра
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Юдин Денис Алексеевич
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:3452338468">(3452) 33-84-68</a>
                                            </div>
                                            <p>
                                                Личный прием: еженедельно, по вторникам, с 14.00 до 15.30
                                            </p>
                                            <p>
                                                Место приема: г.Тюмень, ул. Олимпийская 8а
                                            </p>
                                        </div>
                                    </div>
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Заместитель директора по организационной деятельности
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Коряков Андрей Евгеньевич
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:338468">33-84-68</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Заместитель директора по основной деятельности
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Олейник Анастасия Евгеньевна
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:338468">33-84-68</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Главный бухгалтер
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Мещерякова Екатерина Юрьевна
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:364502">36-45-02</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Старший администратор
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Яловая Марина Михайловна
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:330279">33-02-79</a>,
                                                <a href="tel:364502">36-45-02</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Заведующая билетным столом
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Акжанова Когаршин Мальгаждаровна
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:330279">33-02-79</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-contacts-personal__column">
                                <div class="block-contacts-personal__title">
                                    Художественно–творческий персонал
                                </div>
                                <div class="block-contacts-personal__cards">
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Директор, художественный руководитель театра
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Юдин Денис Алексеевич
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:3452338468">(3452) 33-84-68</a>
                                            </div>
                                            <p>
                                                Личный прием: еженедельно, по вторникам, с 14.00 до 15.30
                                            </p>
                                            <p>
                                                Место приема: г.Тюмень, ул. Олимпийская 8а
                                            </p>
                                        </div>
                                    </div>
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Заместитель директора
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Коряков Андрей Евгеньевич
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:338468">33-84-68</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Заместитель директора по основной деятельности
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Олейник Анастасия Евгеньевна
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:338468">33-84-68</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="block-contacts-personal__column">
                                <div class="block-contacts-personal__title">
                                    Административно–управленческий персонал
                                </div>
                                <div class="block-contacts-personal__cards">
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Директор, художественный руководитель театра
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Юдин Денис Алексеевич
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:3452338468">(3452) 33-84-68</a>
                                            </div>
                                            <p>
                                                Личный прием: еженедельно, по вторникам, с 14.00 до 15.30
                                            </p>
                                            <p>
                                                Место приема: г.Тюмень, ул. Олимпийская 8а
                                            </p>
                                        </div>
                                    </div>
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Заместитель директора по организационной деятельности
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Коряков Андрей Евгеньевич
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:338468">33-84-68</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Заместитель директора по основной деятельности
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Олейник Анастасия Евгеньевна
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:338468">33-84-68</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Главный бухгалтер
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Мещерякова Екатерина Юрьевна
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:364502">36-45-02</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Старший администратор
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Яловая Марина Михайловна
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:330279">33-02-79</a>,
                                                <a href="tel:364502">36-45-02</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="personal-card">
                                        <div class="personal-card__title">
                                            Заведующая билетным столом
                                        </div>
                                        <div class="personal-card__item">
                                            <a href="./" class="personal-card__name">
                                                Акжанова Когаршин Мальгаждаровна
                                            </a>
                                            <div class="personal-card__phones">
                                                <a href="tel:330279">33-02-79</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <script src="https://api-maps.yandex.ru/2.1/?apikey=ваш API-ключ&amp;lang=ru_RU&amp;_v=20240623012845"></script>
    {% include 'blocks/scripts.njk' %}
</body>

</html>