<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro">
                <div class="block-intro__slider swiper">
                    <div class="block-intro__wrapper swiper-wrapper">
                        <a href="./" class="block-intro__slide swiper-slide">
                            <img src="img/image4.webp" alt="" class="block-intro__pic1">
                            <div class="container">
                                <div class="block-intro__titles">
                                    <div class="block-intro__title">
                                        Мусье Жордан
                                    </div>
                                    <p>
                                        Пластилиновая фантазия по мотивам повести Н.В. Гоголя.
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="./" class="block-intro__slide swiper-slide">
                            <img src="img/image9.webp" alt="" class="block-intro__pic1">
                            <div class="container">
                                <div class="block-intro__titles">
                                    <div class="block-intro__title">
                                        Волшебный горшочек
                                    </div>
                                    <p>
                                        Пластилиновая фантазия по мотивам
                                        повести Н.В. Гоголя.
                                    </p>
                                </div>
                            </div>
                        </a>
                        <a href="./" class="block-intro__slide swiper-slide">
                            <img src="img/image5.webp" alt="" class="block-intro__pic1">
                            <div class="container">
                                <div class="block-intro__titles">
                                    <div class="block-intro__title">
                                        Мусье Жордан, ученый ботаник и дервиш Масталишах, знаменитый колдун
                                    </div>
                                    <p>
                                        Автор — Е. Юсупова. Драма одной жизни.
                                    </p>
                                </div>
                            </div>
                        </a>
                    </div>
                </div>
                <div class="block-intro__pagination pagination"></div>
            </div>

            <div data-tabs class="block-calendar">
                <div class="block-calendar__tabs">
                    <div class="block-calendar-nav">
                        <div class="container">
                            <div class="block-calendar-nav__content">
                                <div class="block-calendar-nav__slider">
                                    <div class="block-calendar-nav__wrapper">
                                        <div class="block-calendar-nav__slide">
                                            <div class="block-calendar-nav__title">
                                                Март
                                            </div>
                                            <div class="block-calendar-nav__body">
                                                <div data-tab="1" class="block-calendar-nav__column active">
                                                    11
                                                    <span>Ср</span>
                                                </div>
                                                <div data-tab="2" class="block-calendar-nav__column">
                                                    12
                                                    <span>Чт</span>
                                                </div>
                                                <div data-tab="3" class="block-calendar-nav__column">
                                                    13
                                                    <span>Пт</span>
                                                </div>
                                                <div data-tab="4" class="block-calendar-nav__column">
                                                    14
                                                    <span class="red">Сб</span>
                                                </div>
                                                <div data-tab="5" class="block-calendar-nav__column">
                                                    15
                                                    <span class="red">Вс</span>
                                                </div>
                                                <div data-tab="6" class="block-calendar-nav__column">
                                                    16
                                                    <span>Пн</span>
                                                </div>
                                                <div data-tab="7" class="block-calendar-nav__column">
                                                    17
                                                    <span>Вт</span>
                                                </div>
                                                <div data-tab="8" class="block-calendar-nav__column">
                                                    18
                                                    <span>Ср</span>
                                                </div>
                                                <div data-tab="9" class="block-calendar-nav__column">
                                                    19
                                                    <span>Чт</span>
                                                </div>
                                                <div data-tab="10" class="block-calendar-nav__column">
                                                    20
                                                    <span>Пт</span>
                                                </div>
                                                <div data-tab="11" class="block-calendar-nav__column">
                                                    21
                                                    <span class="red">Сб</span>
                                                </div>
                                                <div data-tab="12" class="block-calendar-nav__column">
                                                    22
                                                    <span class="red">Вс</span>
                                                </div>
                                                <div data-tab="13" class="block-calendar-nav__column">
                                                    23
                                                    <span>Пн</span>
                                                </div>
                                                <div data-tab="14" class="block-calendar-nav__column">
                                                    24
                                                    <span>Вт</span>
                                                </div>
                                                <div data-tab="15" class="block-calendar-nav__column">
                                                    25
                                                    <span>Ср</span>
                                                </div>
                                                <div data-tab="16" class="block-calendar-nav__column">
                                                    26
                                                    <span>Чт</span>
                                                </div>
                                                <div data-tab="17" class="block-calendar-nav__column">
                                                    27
                                                    <span>Пт</span>
                                                </div>
                                                <div data-tab="18" class="block-calendar-nav__column">
                                                    28
                                                    <span class="red">Сб</span>
                                                </div>
                                                <div data-tab="19" class="block-calendar-nav__column">
                                                    29
                                                    <span class="red">Вс</span>
                                                </div>
                                                <div data-tab="20" class="block-calendar-nav__column">
                                                    30
                                                    <span>Пн</span>
                                                </div>
                                                <div data-tab="21" class="block-calendar-nav__column">
                                                    31
                                                    <span>Вт</span>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="block-calendar-nav__slide">
                                            <div class="block-calendar-nav__title">
                                                Апрель
                                            </div>
                                            <div class="block-calendar-nav__body">
                                                <div data-tab="22" class="block-calendar-nav__column">
                                                    1
                                                    <span>Ср</span>
                                                </div>
                                                <div data-tab="23" class="block-calendar-nav__column">
                                                    2
                                                    <span>Чт</span>
                                                </div>
                                                <div data-tab="24" class="block-calendar-nav__column">
                                                    3
                                                    <span>Пт</span>
                                                </div>
                                                <div data-tab="25" class="block-calendar-nav__column">
                                                    4
                                                    <span class="red">Сб</span>
                                                </div>
                                                <div data-tab="26" class="block-calendar-nav__column">
                                                    5
                                                    <span class="red">Вс</span>
                                                </div>
                                                <div data-tab="27" class="block-calendar-nav__column">
                                                    6
                                                    <span>Пн</span>
                                                </div>
                                                <div data-tab="28" class="block-calendar-nav__column">
                                                    7
                                                    <span>Вт</span>
                                                </div>
                                                <div data-tab="29" class="block-calendar-nav__column">
                                                    8
                                                    <span>Ср</span>
                                                </div>
                                                <div data-tab="30" class="block-calendar-nav__column">
                                                    9
                                                    <span>Чт</span>
                                                </div>
                                                <div data-tab="31" class="block-calendar-nav__column">
                                                    10
                                                    <span>Пт</span>
                                                </div>
                                                <div data-tab="32" class="block-calendar-nav__column">
                                                    11
                                                    <span class="red">Сб</span>
                                                </div>
                                                <div data-tab="33" class="block-calendar-nav__column">
                                                    12
                                                    <span class="red">Вс</span>
                                                </div>
                                                <div data-tab="34" class="block-calendar-nav__column">
                                                    13
                                                    <span>Пн</span>
                                                </div>
                                                <div data-tab="35" class="block-calendar-nav__column">
                                                    14
                                                    <span>Вт</span>
                                                </div>
                                                <div data-tab="36" class="block-calendar-nav__column">
                                                    15
                                                    <span>Ср</span>
                                                </div>
                                                <div data-tab="37" class="block-calendar-nav__column">
                                                    16
                                                    <span>Чт</span>
                                                </div>
                                                <div data-tab="38" class="block-calendar-nav__column">
                                                    17
                                                    <span>Пт</span>
                                                </div>
                                                <div data-tab="39" class="block-calendar-nav__column">
                                                    18
                                                    <span class="red">Сб</span>
                                                </div>
                                                <div data-tab="40" class="block-calendar-nav__column">
                                                    19
                                                    <span class="red">Вс</span>
                                                </div>
                                                <div data-tab="41" class="block-calendar-nav__column">
                                                    20
                                                    <span>Пн</span>
                                                </div>
                                                <div data-tab="42" class="block-calendar-nav__column">
                                                    21
                                                    <span>Вт</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-calendar-nav__arrow-prev arrow-prev">
                                    <img src="img/icons/arrow3.svg" alt="">
                                </div>
                                <div class="block-calendar-nav__arrow-next arrow-next">
                                    <img src="img/icons/arrow3.svg" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="block-calendar__content">
                        <div class="container">
                            <div data-tab="1" class="block-calendar__body active">
                                <div class="block-calendar__column">
                                    <div class="block-calendar__items">
                                        <div class="block-calendar__titles">
                                            <div class="block-calendar__title">
                                                Мусье Жордан, ученый ботаник и дервиш Масталишах, знаменитый колдун
                                            </div>
                                            <p>
                                                Пластилиновая фантазия по мотивам повести Н.В. Гоголя.<br> Пушкинская
                                                карта.
                                                Премьера
                                            </p>
                                        </div>
                                        <div class="block-calendar__dates">
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>15</span>
                                                    марта<br>
                                                    Вc 19:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>25</span>
                                                    марта<br>
                                                    Вc 19:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-calendar__images">
                                        <div class="block-calendar__slider swiper">
                                            <div class="block-calendar__wrapper swiper-wrapper">
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image5.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image5.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image5.webp" alt="">
                                                </a>
                                            </div>
                                            <div class="block-calendar__pagination pagination"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-calendar__column">
                                    <div class="block-calendar__items">
                                        <a href="./" class="block-calendar__titles">
                                            <div class="block-calendar__title">
                                                Вий. Легенда
                                            </div>
                                            <p>
                                                Мистическая фантазия по мотивам Н.В. Гоголя.
                                            </p>
                                        </a>
                                        <div class="block-calendar__dates">
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>15</span>
                                                    марта<br>
                                                    Вc 19:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>25</span>
                                                    марта<br>
                                                    Вc 19:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>26</span>
                                                    апреля<br>
                                                    Пн 20:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-calendar__images">
                                        <div class="block-calendar__slider swiper">
                                            <div class="block-calendar__wrapper swiper-wrapper">
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image6.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image6.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image6.webp" alt="">
                                                </a>
                                            </div>
                                            <div class="block-calendar__pagination pagination"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-calendar__column">
                                    <div class="block-calendar__items">
                                        <a href="./" class="block-calendar__titles">
                                            <div class="block-calendar__title">
                                                Бегемот-невидимка
                                            </div>
                                            <p>
                                                Необыкновенная история. М. Зелинская. 
                                            </p>
                                        </a>
                                        <div class="block-calendar__dates">
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>15</span>
                                                    марта<br>
                                                    Вc 19:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-calendar__images">
                                        <div class="block-calendar__slider swiper">
                                            <div class="block-calendar__wrapper swiper-wrapper">
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image7.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image7.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image7.webp" alt="">
                                                </a>
                                            </div>
                                            <div class="block-calendar__pagination pagination"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-calendar__column">
                                    <div class="block-calendar__items">
                                        <a href="./" class="block-calendar__titles">
                                            <div class="block-calendar__title">
                                                Рыжий чулок
                                            </div>
                                            <p>
                                                Рекомендовано к просмотру от 4-11 лет. Автор Н. Герасимов.
                                            </p>
                                        </a>
                                        <div class="block-calendar__dates">
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>15</span>
                                                    марта<br>
                                                    Вc 19:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-calendar__images">
                                        <div class="block-calendar__slider swiper">
                                            <div class="block-calendar__wrapper swiper-wrapper">
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image8.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image8.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image8.webp" alt="">
                                                </a>
                                            </div>
                                            <div class="block-calendar__pagination pagination"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-calendar__column">
                                    <div class="block-calendar__items">
                                        <a href="./" class="block-calendar__titles">
                                            <div class="block-calendar__title">
                                                Волшебный горшочек
                                            </div>
                                            <p>
                                                Сказочная история для детей от 2-х до 4-х лет.
                                            </p>
                                        </a>
                                        <div class="block-calendar__dates">
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>16</span>
                                                    марта<br>
                                                    Пн 10:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>16</span>
                                                    марта<br>
                                                    Пн 11:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-calendar__images">
                                        <div class="block-calendar__slider swiper">
                                            <div class="block-calendar__wrapper swiper-wrapper">
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image9.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image9.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image9.webp" alt="">
                                                </a>
                                            </div>
                                            <div class="block-calendar__pagination pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div data-tab="2" class="block-calendar__body">
                                <div class="block-calendar__column">
                                    <div class="block-calendar__items">
                                        <a href="./" class="block-calendar__titles">
                                            <div class="block-calendar__title">
                                                Бегемот-невидимка
                                            </div>
                                            <p>
                                                Необыкновенная история. М. Зелинская. 
                                            </p>
                                        </a>
                                        <div class="block-calendar__dates">
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>15</span>
                                                    марта<br>
                                                    Вc 19:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-calendar__images">
                                        <div class="block-calendar__slider swiper">
                                            <div class="block-calendar__wrapper swiper-wrapper">
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image7.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image7.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image7.webp" alt="">
                                                </a>
                                            </div>
                                            <div class="block-calendar__pagination pagination"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-calendar__column">
                                    <div class="block-calendar__items">
                                        <div class="block-calendar__titles">
                                            <div class="block-calendar__title">
                                                Мусье Жордан, ученый ботаник и дервиш Масталишах, знаменитый колдун
                                            </div>
                                            <p>
                                                Пластилиновая фантазия по мотивам повести Н.В. Гоголя.<br> Пушкинская
                                                карта.
                                                Премьера
                                            </p>
                                        </div>
                                        <div class="block-calendar__dates">
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>15</span>
                                                    марта<br>
                                                    Вc 19:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>25</span>
                                                    марта<br>
                                                    Вc 19:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-calendar__images">
                                        <div class="block-calendar__slider swiper">
                                            <div class="block-calendar__wrapper swiper-wrapper">
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image5.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image5.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image5.webp" alt="">
                                                </a>
                                            </div>
                                            <div class="block-calendar__pagination pagination"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-calendar__column">
                                    <div class="block-calendar__items">
                                        <a href="./" class="block-calendar__titles">
                                            <div class="block-calendar__title">
                                                Вий. Легенда
                                            </div>
                                            <p>
                                                Мистическая фантазия по мотивам Н.В. Гоголя.
                                            </p>
                                        </a>
                                        <div class="block-calendar__dates">
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>15</span>
                                                    марта<br>
                                                    Вc 19:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>25</span>
                                                    марта<br>
                                                    Вc 19:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>26</span>
                                                    апреля<br>
                                                    Пн 20:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-calendar__images">
                                        <div class="block-calendar__slider swiper">
                                            <div class="block-calendar__wrapper swiper-wrapper">
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image6.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image6.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image6.webp" alt="">
                                                </a>
                                            </div>
                                            <div class="block-calendar__pagination pagination"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-calendar__column">
                                    <div class="block-calendar__items">
                                        <a href="./" class="block-calendar__titles">
                                            <div class="block-calendar__title">
                                                Рыжий чулок
                                            </div>
                                            <p>
                                                Рекомендовано к просмотру от 4-11 лет. Автор Н. Герасимов.
                                            </p>
                                        </a>
                                        <div class="block-calendar__dates">
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>15</span>
                                                    марта<br>
                                                    Вc 19:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-calendar__images">
                                        <div class="block-calendar__slider swiper">
                                            <div class="block-calendar__wrapper swiper-wrapper">
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image8.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image8.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image8.webp" alt="">
                                                </a>
                                            </div>
                                            <div class="block-calendar__pagination pagination"></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-calendar__column">
                                    <div class="block-calendar__items">
                                        <a href="./" class="block-calendar__titles">
                                            <div class="block-calendar__title">
                                                Волшебный горшочек
                                            </div>
                                            <p>
                                                Сказочная история для детей от 2-х до 4-х лет.
                                            </p>
                                        </a>
                                        <div class="block-calendar__dates">
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>16</span>
                                                    марта<br>
                                                    Пн 10:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                            <div class="block-calendar__item">
                                                <a href="./" class="block-calendar__date">
                                                    <span>16</span>
                                                    марта<br>
                                                    Пн 11:00
                                                </a>
                                                <a href="./" class="btn">Купить билет</a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-calendar__images">
                                        <div class="block-calendar__slider swiper">
                                            <div class="block-calendar__wrapper swiper-wrapper">
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image9.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image9.webp" alt="">
                                                </a>
                                                <a href="./" class="block-calendar__slide swiper-slide">
                                                    <img src="img/image9.webp" alt="">
                                                </a>
                                            </div>
                                            <div class="block-calendar__pagination pagination"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-advertising">
                <div class="block-advertising__slider swiper">
                    <div class="block-advertising__wrapper swiper-wrapper">
                        <a href="./" class="block-advertising__slide swiper-slide">
                            <img loading="lazy" src="img/image1.webp" alt="">
                        </a>
                        <a href="./" class="block-advertising__slide swiper-slide">
                            <img loading="lazy" src="img/image2.webp" alt="">
                        </a>
                        <a href="./" class="block-advertising__slide swiper-slide">
                            <img loading="lazy" src="img/image3.webp" alt="">
                        </a>
                        <a href="./" class="block-advertising__slide swiper-slide">
                            <img loading="lazy" src="img/image1.webp" alt="">
                        </a>
                        <a href="./" class="block-advertising__slide swiper-slide">
                            <img loading="lazy" src="img/image2.webp" alt="">
                        </a>
                        <a href="./" class="block-advertising__slide swiper-slide">
                            <img loading="lazy" src="img/image3.webp" alt="">
                        </a>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>