<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Человек</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-himan">
                <div class="container">
                    <div class="block-himan__content">
                        <div class="block-himan__image">
                            <img src="img/people/image13.webp" alt="">
                        </div>
                        <div class="block-himan__body">
                            <h1 class="title2">
                                Владимир Ринатович Нургалиев
                            </h1>
                            <div class="block-himan__text">
                                <p>
                                    Родился 9 сентября 1992 года. С 2012 по 2018 обучался в Югорском государственном
                                    университете на кафедре Психологии и педагогики. Актёр, автор студенческого
                                    театра-студии «Отдыхай!». Полуфиналист шоу-проекта «Минута славы Олимпийский сезон».
                                    Победитель всероссийского фестиваля театров малых форм "Икариада-2018\2019" в
                                    номинациях
                                    Лучший актёр и лучший спектакль. г. Казань.
                                </p>
                                <p>
                                    Победитель межрегионального фестиваля молодежных театров «БУМ 2018» в номинациях
                                    лучший
                                    спектакль и лучший актер г. Омск. Многократный лауреат окружных и Всероссийских
                                    театральных конкурсов и фестивалей. С 2017 по 2021 обучался в Тюменском
                                    Государственном
                                    Институте Культуры на кафедре режиссуры мастерской М.М. Галяветдиновой.
                                </p>
                                <p>
                                    Актёр молодёжного театра "Ангажемент" имени В. С. Загоруйко с 2024 г.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-roles">
                <div class="container">
                    <div class="heading-complex heading-complex2">
                        <h2 class="title1">Роли</h2>
                        <div class="heading-complex__images"></div>
                    </div>
                    <div class="cards1">
                        <a href="./" class="cards1__card">
                            <img loading="lazy" src="img/image4.webp" alt="" class="cards1__pic1">
                            <div class="cards1__titles">
                                <div class="cards1__title">
                                    Записки сумасшедшего
                                </div>
                                <p>
                                    Имя персонажа
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards1__card">
                            <img loading="lazy" src="img/image9.webp" alt="" class="cards1__pic1">
                            <div class="cards1__titles">
                                <div class="cards1__title">
                                    Записки сумасшедшего
                                </div>
                                <p>
                                    Имя персонажа
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards1__card">
                            <img loading="lazy" src="img/image5.webp" alt="" class="cards1__pic1">
                            <div class="cards1__titles">
                                <div class="cards1__title">
                                    Записки сумасшедшего
                                </div>
                                <p>
                                    Имя персонажа
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards1__card">
                            <img loading="lazy" src="img/image6.webp" alt="" class="cards1__pic1">
                            <div class="cards1__titles">
                                <div class="cards1__title">
                                    Записки сумасшедшего
                                </div>
                                <p>
                                    Имя персонажа
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards1__card">
                            <img loading="lazy" src="img/image4.webp" alt="" class="cards1__pic1">
                            <div class="cards1__titles">
                                <div class="cards1__title">
                                    Записки сумасшедшего
                                </div>
                                <p>
                                    Имя персонажа
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards1__card">
                            <img loading="lazy" src="img/image5.webp" alt="" class="cards1__pic1">
                            <div class="cards1__titles">
                                <div class="cards1__title">
                                    Записки сумасшедшего
                                </div>
                                <p>
                                    Имя персонажа
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards1__card">
                            <img loading="lazy" src="img/image6.webp" alt="" class="cards1__pic1">
                            <div class="cards1__titles">
                                <div class="cards1__title">
                                    Записки сумасшедшего
                                </div>
                                <p>
                                    Имя персонажа
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards1__card">
                            <img loading="lazy" src="img/image4.webp" alt="" class="cards1__pic1">
                            <div class="cards1__titles">
                                <div class="cards1__title">
                                    Записки сумасшедшего
                                </div>
                                <p>
                                    Имя персонажа
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards1__card">
                            <img loading="lazy" src="img/image9.webp" alt="" class="cards1__pic1">
                            <div class="cards1__titles">
                                <div class="cards1__title">
                                    Записки сумасшедшего
                                </div>
                                <p>
                                    Имя персонажа
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards1__card">
                            <img loading="lazy" src="img/image9.webp" alt="" class="cards1__pic1">
                            <div class="cards1__titles">
                                <div class="cards1__title">
                                    Записки сумасшедшего
                                </div>
                                <p>
                                    Имя персонажа
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

            <div class="block-production">
                <div class="container">
                    <div class="heading-complex heading-complex2">
                        <h2 class="title1">Постановочные работы</h2>
                        <div class="heading-complex__images"></div>
                    </div>
                    <div class="cards1">
                        <a href="./" class="cards1__card">
                            <img loading="lazy" src="img/image4.webp" alt="" class="cards1__pic1">
                            <div class="cards1__titles">
                                <div class="cards1__title">
                                    Записки сумасшедшего
                                </div>
                                <p>
                                    Имя персонажа
                                </p>
                            </div>
                        </a>
                        <a href="./" class="cards1__card">
                            <img loading="lazy" src="img/image9.webp" alt="" class="cards1__pic1">
                            <div class="cards1__titles">
                                <div class="cards1__title">
                                    Записки сумасшедшего
                                </div>
                                <p>
                                    Имя персонажа
                                </p>
                            </div>
                        </a>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>