<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Новости</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div data-tabs class="block-news">
                <div class="container">
                    <div class="heading-complex">
                        <h1 class="title1">Новости и события</h1>
                        <div class="heading-complex__images">
                            <img src="img/icons/bg2.svg" alt="">
                            <img src="img/icons/bg2.svg" alt="">
                            <img src="img/icons/bg2.svg" alt="">
                        </div>
                    </div>
                    <div class="block-news__content">
                        <div class="block-sticky">
                            <div class="block-sticky__body">
                                <div data-tab="news1" data-tab-title class="block-sticky__button active">
                                    2026
                                </div>
                                <div data-tab="news2" data-tab-title class="block-sticky__button">2025</div>
                                <div data-tab="news3" data-tab-title class="block-sticky__button">2024</div>
                                <div data-tab="news4" data-tab-title class="block-sticky__button">2023</div>
                                <div data-tab="news5" data-tab-title class="block-sticky__button">2022</div>
                                <div data-tab="news6" data-tab-title class="block-sticky__button">2021</div>
                            </div>
                        </div>
                        <div class="block-news__body">
                            <div data-tab="news1" data-tab-body class="cards-news active">
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Видео «Одна ловушка»</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Видео «Одна Дорога»</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Одна ловушка</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Одна Дорога </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Профессиональные достижения сотрудников "Ангажемента"
                                    </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Материалы по профилактике терроризма</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">ИТОГИ VI СЕВЕРНОГО ТЕАТРАЛЬНОГО ФЕСТИВАЛЯ!</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Театр «Ангажемент» выиграл грант на
                                        тифлокомментирование спектаклей </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">ВНИМАНИЕ! ЗАМЕНА СПЕКТАКЛЯ!</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Выбери территорию для благоустройства в 2026 году!
                                    </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                            </div>
                            <div data-tab="news2" data-tab-body class="cards-news">
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">ИТОГИ VI СЕВЕРНОГО ТЕАТРАЛЬНОГО ФЕСТИВАЛЯ!</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Театр «Ангажемент» выиграл грант на
                                        тифлокомментирование спектаклей </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">ВНИМАНИЕ! ЗАМЕНА СПЕКТАКЛЯ!</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Выбери территорию для благоустройства в 2026 году!
                                    </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                            </div>
                            <div data-tab="news3" data-tab-body class="cards-news active">
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Видео «Одна ловушка»</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Видео «Одна Дорога»</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Одна ловушка</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Одна Дорога </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Профессиональные достижения сотрудников "Ангажемента"
                                    </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Материалы по профилактике терроризма</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">ИТОГИ VI СЕВЕРНОГО ТЕАТРАЛЬНОГО ФЕСТИВАЛЯ!</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Театр «Ангажемент» выиграл грант на
                                        тифлокомментирование спектаклей </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">ВНИМАНИЕ! ЗАМЕНА СПЕКТАКЛЯ!</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Выбери территорию для благоустройства в 2026 году!
                                    </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                            </div>
                            <div data-tab="news4" data-tab-body class="cards-news">
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">ИТОГИ VI СЕВЕРНОГО ТЕАТРАЛЬНОГО ФЕСТИВАЛЯ!</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Театр «Ангажемент» выиграл грант на
                                        тифлокомментирование спектаклей </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">ВНИМАНИЕ! ЗАМЕНА СПЕКТАКЛЯ!</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Выбери территорию для благоустройства в 2026 году!
                                    </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                            </div>
                            <div data-tab="news5" data-tab-body class="cards-news active">
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Видео «Одна ловушка»</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Видео «Одна Дорога»</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Одна ловушка</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Одна Дорога </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Профессиональные достижения сотрудников "Ангажемента"
                                    </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Материалы по профилактике терроризма</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">ИТОГИ VI СЕВЕРНОГО ТЕАТРАЛЬНОГО ФЕСТИВАЛЯ!</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Театр «Ангажемент» выиграл грант на
                                        тифлокомментирование спектаклей </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">ВНИМАНИЕ! ЗАМЕНА СПЕКТАКЛЯ!</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Выбери территорию для благоустройства в 2026 году!
                                    </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                            </div>
                            <div data-tab="news6" data-tab-body class="cards-news">
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">ИТОГИ VI СЕВЕРНОГО ТЕАТРАЛЬНОГО ФЕСТИВАЛЯ!</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Театр «Ангажемент» выиграл грант на
                                        тифлокомментирование спектаклей </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">ВНИМАНИЕ! ЗАМЕНА СПЕКТАКЛЯ!</div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                                <a href="./" class="cards-news__card">
                                    <div class="cards-news__title">Выбери территорию для благоустройства в 2026 году!
                                    </div>
                                    <div class="cards-news__data">25 марта 2026</div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>