<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Труппа</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div data-tabs class="block-people">
                <div class="container">
                    <div class="heading-complex">
                        <h1 class="title1 big">Люди</h1>
                        <div class="heading-complex__images">
                            <img src="img/icons/bg2.svg" alt="">
                            <img src="img/icons/bg2.svg" alt="">
                            <img src="img/icons/bg2.svg" alt="">
                        </div>
                    </div>
                    <div class="block-people__content">
                        <div class="block-sticky">
                            <div class="block-sticky__body">
                                <div data-tab="1" data-tab-title class="block-sticky__column">
                                    <div class="block-sticky__title">Труппа театра</div>
                                    <div data-goto=".item-truppa" data-goto-header class="block-sticky__button">Труппа
                                    </div>
                                    <div data-goto=".item-artists" data-goto-header class="block-sticky__button mob">
                                        Приглашенные артисты
                                    </div>
                                </div>
                                <div class="block-sticky__column">
                                    <div class="block-sticky__title">Авторы спектаклей</div>
                                    <div data-tab="2" data-tab-title class="block-sticky__button mob-none">Авторы
                                        спектаклей
                                    </div>
                                    <div data-goto=".item-authors1" data-goto-header data-tab="5" data-tab-title
                                        class="block-sticky__button mob">
                                        Режиссеры
                                    </div>
                                    <div data-goto=".item-authors2" data-goto-header data-tab="6" data-tab-title
                                        class="block-sticky__button mob">
                                        Художники
                                    </div>
                                    <div data-goto=".item-authors3" data-goto-header data-tab="7" data-tab-title
                                        class="block-sticky__button mob">
                                        Композиторы
                                    </div>
                                    <div data-goto=".item-authors4" data-goto-header data-tab="8" data-tab-title
                                        class="block-sticky__button mob">
                                        Хореографы
                                    </div>
                                    <div data-goto=".item-authors5" data-goto-header data-tab="9" data-tab-title
                                        class="block-sticky__button mob">
                                        Постановка боевых сцен
                                    </div>
                                </div>
                                <div class="block-sticky__column">
                                    <div data-goto=".item-cinema" data-goto-header data-tab="3" data-tab-title
                                        class="block-sticky__button">Наши в кино</div>
                                </div>
                                <div class="block-sticky__column">
                                    <div data-goto=".item-friends" data-goto-header data-tab="4" data-tab-title
                                        class="block-sticky__button">Друзья и меценаты
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div data-tab="1" data-tab-body class="block-people__body active">
                            <div data-watch="navigator" class="block-people__item item-truppa">
                                <div class="block-people__title">Труппа</div>
                                <div class="block-people__columns">
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image1.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Денис
                                                <br>
                                                Юдин
                                            </div>
                                            <div class="block-people__subname">Директор</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image2.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Сергей
                                                <br>
                                                Грязнов
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image3.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Алексей
                                                <br>
                                                Шлямин
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image4.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Юрий<br>
                                                Фёдоров
                                            </div>
                                            <div class="block-people__subname">Заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image5.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Екатерина
                                                <br>
                                                Захарова
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image6.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Ксенья<br>
                                                Кудрявцева
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image7.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Людмила<br> Петрушева
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image8.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Татьяна<br> Пшеничникова
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image9.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Роман<br>
                                                Зорин
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image10.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Екатерина<br>
                                                Зорина
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image11.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Ирина <br>
                                                Ширикова
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image12.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Андрей
                                                <br>
                                                Захаренко
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                            <div data-watch="navigator" class="block-people__item item-artists">
                                <div class="block-people__title">Приглашенные артисты</div>
                                <div class="block-people__columns">
                                    <a href="./" class="block-people__column">
                                        <img src="img/stub.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Максим
                                                <br>
                                                Зайцев
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/stub.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Максим
                                                <br>
                                                Зайцев
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/stub.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Максим
                                                <br>
                                                Зайцев
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/stub.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Максим
                                                <br>
                                                Зайцев
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/stub.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Максим
                                                <br>
                                                Зайцев
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/stub.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Максим
                                                <br>
                                                Зайцев
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/stub.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Максим
                                                <br>
                                                Зайцев
                                            </div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/stub.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Максим
                                                <br>
                                                Зайцев
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div data-tab="2" data-tab-body class="block-people__body">
                            <div class="block-people__item">
                                <div class="block-people__title">Авторы спектаклей</div>
                                <div class="block-people__columns">
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image1.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Денис
                                                <br>
                                                Юдин
                                            </div>
                                            <div class="block-people__subname">Директор</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image2.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Сергей
                                                <br>
                                                Грязнов
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image3.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Алексей
                                                <br>
                                                Шлямин
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image4.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Юрий<br>
                                                Фёдоров
                                            </div>
                                            <div class="block-people__subname">Заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div data-watch="navigator" data-tab="3" data-tab-body class="block-people__body item-cinema">
                            <div class="block-people__item">
                                <div class="block-people__title">
                                    Заслуженный артист России
                                    <br>
                                    Окунев Леонид Григорьевич
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-people__name">Мужик</div>
                                        <a href="./" class="block-people__value">
                                            «Завоеватель», Владимир Хотиненко, 1980, к/м
                                        </a>
                                    </li>
                                    <li>
                                        <div class="block-people__name">Мужик</div>
                                        <a href="./" class="block-people__value">
                                            «Завоеватель», Владимир Хотиненко, 1980, к/м
                                        </a>
                                    </li>
                                    <li>
                                        <div class="block-people__name">Мужик</div>
                                        <a href="./" class="block-people__value">
                                            «Завоеватель», Владимир Хотиненко, 1980, к/м
                                        </a>
                                    </li>
                                </ul>
                            </div>
                            <div class="block-people__item">
                                <div class="block-people__title">
                                    Заслуженный артист России
                                    <br>
                                    Окунев Леонид Григорьевич
                                </div>
                                <ul>
                                    <li>
                                        <div class="block-people__name">Мужик</div>
                                        <a href="./" class="block-people__value">
                                            «Завоеватель», Владимир Хотиненко, 1980, к/м
                                        </a>
                                    </li>
                                    <li>
                                        <div class="block-people__name">Мужик</div>
                                        <a href="./" class="block-people__value">
                                            «Завоеватель», Владимир Хотиненко, 1980, к/м
                                        </a>
                                    </li>
                                    <li>
                                        <div class="block-people__name">Мужик</div>
                                        <a href="./" class="block-people__value">
                                            «Завоеватель», Владимир Хотиненко, 1980, к/м
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div data-watch="navigator" data-tab="4" data-tab-body class="block-people__body item-friends">
                            <div class="block-people__item">
                                <div class="block-people__title">Друзья и меценаты</div>
                                <div class="block-people__columns">
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image1.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Денис
                                                <br>
                                                Юдин
                                            </div>
                                            <div class="block-people__subname">Директор</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image2.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Сергей
                                                <br>
                                                Грязнов
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image3.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Алексей
                                                <br>
                                                Шлямин
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image4.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Юрий<br>
                                                Фёдоров
                                            </div>
                                            <div class="block-people__subname">Заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div data-watch="navigator" data-tab="5" data-tab-body class="block-people__body item-authors1">
                            <div class="block-people__item">
                                <div class="block-people__title">Режиссеры</div>
                                <div class="block-people__columns">
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image1.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Денис
                                                <br>
                                                Юдин
                                            </div>
                                            <div class="block-people__subname">Директор</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image2.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Сергей
                                                <br>
                                                Грязнов
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image3.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Алексей
                                                <br>
                                                Шлямин
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image4.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Юрий<br>
                                                Фёдоров
                                            </div>
                                            <div class="block-people__subname">Заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div data-watch="navigator" data-tab="6" data-tab-body class="block-people__body item-authors2">
                            <div class="block-people__item">
                                <div class="block-people__title">Художники</div>
                                <div class="block-people__columns">
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image1.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Денис
                                                <br>
                                                Юдин
                                            </div>
                                            <div class="block-people__subname">Директор</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image2.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Сергей
                                                <br>
                                                Грязнов
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image3.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Алексей
                                                <br>
                                                Шлямин
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image4.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Юрий<br>
                                                Фёдоров
                                            </div>
                                            <div class="block-people__subname">Заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div data-watch="navigator" data-tab="7" data-tab-body class="block-people__body item-authors3">
                            <div class="block-people__item">
                                <div class="block-people__title">Композиторы</div>
                                <div class="block-people__columns">
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image1.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Денис
                                                <br>
                                                Юдин
                                            </div>
                                            <div class="block-people__subname">Директор</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image2.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Сергей
                                                <br>
                                                Грязнов
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image3.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Алексей
                                                <br>
                                                Шлямин
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image4.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Юрий<br>
                                                Фёдоров
                                            </div>
                                            <div class="block-people__subname">Заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div data-watch="navigator" data-tab="8" data-tab-body class="block-people__body item-authors4">
                            <div class="block-people__item">
                                <div class="block-people__title">Хореографы</div>
                                <div class="block-people__columns">
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image1.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Денис
                                                <br>
                                                Юдин
                                            </div>
                                            <div class="block-people__subname">Директор</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image2.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Сергей
                                                <br>
                                                Грязнов
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image3.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Алексей
                                                <br>
                                                Шлямин
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image4.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Юрий<br>
                                                Фёдоров
                                            </div>
                                            <div class="block-people__subname">Заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div data-watch="navigator" data-tab="9" data-tab-body class="block-people__body item-authors5">
                            <div class="block-people__item">
                                <div class="block-people__title">Постановка боевых сцен</div>
                                <div class="block-people__columns">
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image1.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Денис
                                                <br>
                                                Юдин
                                            </div>
                                            <div class="block-people__subname">Директор</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image2.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Сергей
                                                <br>
                                                Грязнов
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image3.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Алексей
                                                <br>
                                                Шлямин
                                            </div>
                                            <div class="block-people__subname">заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                    <a href="./" class="block-people__column">
                                        <img src="img/people/image4.webp" alt="" class="block-people__pic1">
                                        <div class="block-people__titles">
                                            <div class="block-people__name">
                                                Юрий<br>
                                                Фёдоров
                                            </div>
                                            <div class="block-people__subname">Заслуженный артист РФ</div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>