:root {
  --container-width: 1424px;
  --container-padding: 32px;
  --white: #d2d1cc;
  --white-60: rgba(210, 209, 204, 0.6);
  --white-40: rgba(210, 209, 204, 0.4);
  --black: #2a2a2a;
  --red: #fe2d2d;
  --blue: #3fa2ba;

  --font-family: "Manrope", sans-serif;
  --second-family: "Unbounded", sans-serif;
  --third-family: "Helvetica", sans-serif;
  --font3: "Roboto", sans-serif;
  --font4: "SFProText", sans-serif;
  --font5: "SFPro", sans-serif;
  --font6: "TTInterphasesProTrl", sans-serif;
}
